<!DOCTYPE html>
<title>ウェイト管理（痩せる）</title>
<%= csrf_meta_tags %>
<%= csp_meta_tag %>
​
<!-- 表示をスマートフォンに対応させる -->
<meta name="viewport" content="width=device-width,initial-scale=1">
​
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
​
<body>
  <!-- 全ページの横幅に上限を設ける（cssは後に追加） -->
  <div class="graph-container">
    <p class="mt-4">青いボタンが表示されていれば，「Bootstrap」の導入はOKです</p>
    <button type="button" class="btn btn-primary btn-block">ボタン</button>
    <%= yield %>
  </div>
</body>
​
</html>
